profiles {

  standard {
      process.executor = 'local'
  }

}

// Workflow-specific configurations
if (params.workflow == "preprocess_data") {
    includeConfig "conf/preprocess_data.config"
} else if (params.workflow == "train_mrvi") {
    includeConfig "conf/train_mrvi.config"
} else {
    includeConfig "conf/downstrem_analysis.config"
}
