nextflow.enable.dsl = 2

profiles {
    standard {
        process.executor = "local"
    }
    gpu {
        process.executor = "local"
    }
}

conda {
    enabled = true
    cacheDir = "${projectDir}/env/.cache"
    useMamba = true
}

params {
    env {
        root = "${projectDir}/env"
    }
    conf {
        root = "${projectDir}/conf"
        dataset = "${params.conf.root}/datasets"
    }
    publish {
        root = "${projectDir}/results"
    }
    workflows {
        root = "${projectDir}/workflows"
    }
    subworkflows {
        root = "${projectDir}/subworkflows"
        preprocess_data = "${params.subworkflows.root}/preprocess_data/main.nf"
        run_models = "${params.subworkflows.root}/run_models/main.nf"
        compute_metrics = "${params.subworkflows.root}/compute_metrics/main.nf"
    }
    modules {
        root = "${projectDir}/modules"
        preprocess_data = "${params.modules.root}/preprocess_data.nf"
        fit_mrvi = "${params.modules.root}/fit_mrvi.nf"
        get_latent_mrvi = "${params.modules.root}/get_latent_mrvi.nf"
        fit_scviv2 = "${params.modules.root}/fit_scviv2.nf"
        get_latent_scviv2 = "${params.modules.root}/get_latent_scviv2.nf"
        compute_scib = "${params.modules.root}/compute_scib_metrics.nf"
        compute_vendi = "${params.modules.root}/compute_vendi.nf"
    }
    bin {
        root = "${projectDir}/bin"
        preprocess_data = "${params.bin.root}/preprocess_data.py"
        fit_mrvi = "${params.bin.root}/fit_mrvi.py"
        get_latent_mrvi = "${params.bin.root}/get_latent_mrvi.py"
        fit_scviv2 = "${params.bin.root}/fit_scviv2.py"
        get_latent_scviv2 = "${params.bin.root}/get_latent_scviv2.py"
        compute_scib = "${params.bin.root}/compute_scib_metrics.py"
        compute_vendi = "${params.bin.root}/compute_vendi.py"
    }
    inputs {
        raw_data = ""
        preprocess_data = "${params.inputs.raw_data}"
        run_models = "${params.outputs.preprocess_data}/*.h5ad"
        compute_metrics = "${params.outputs.run_models.data}"
    }
    // only relative paths need to be specified here since module outputs
    // are placed in temporary work directories
    outputs {
        preprocess_data = "data/preprocessed"
        run_models {
            model = "model"
            data = "data/latent"
        }
        compute_metrics {
            scib = "metrics/scib"
            vendi = "metrics/vendi"
        }

    }
}

process {
    publishDir = "${params.publish.root}/${params.workflow}"
}

// params.workflow is passed in from the command line as --workflow
includeConfig "${params.conf.root}/${params.workflow}.config"
