includeConfig "${projectDir}/conf/aws_credentials.config"

params {
    aws {
        root = "s3://largedonor"
    }
    inputs = [
        "${params.aws.root}/pbmcs68k_for_subsample.h5ad",
        "${params.aws.root}/haniffa2.h5ad",
    ]
    runAllModels = false
    runAllMRVIModels = true
    runMILO = false
    computeMetrics = false
}
