includeConfig "${projectDir}/conf/aws_credentials.config"

params {
    aws {
        root = "s3://largedonor"
    }
    // inputs should be one of
    // "${params.aws.root}/symsim_new.h5ad"
    // "${params.aws.root}/scvi_pbmcs.h5ad"
    // "${params.aws.root}/nucleus.h5ad"
    // "${params.aws.root}/eQTL.h5ad"
    // "${params.aws.root}/sciplex.h5ad"
    // "${params.aws.root}/symsim_new.h5ad",
    inputs = [
        "${params.aws.root}/tfatlasall.h5ad",
        "${params.aws.root}/crohns_data_concatenated_hvg.h5ad",
        "${params.aws.root}/symsim_new.h5ad",
    ]
    runAllModels = true
}
