includeConfig "${projectDir}/conf/aws_creds.config"

nextflow.enable.dsl = 2

conda {
    enabled = true
    cacheDir = "${projectDir}/env/.cache"
    useMamba = true
}

params {
    publish = "${projectDir}/results/simple_pipeline"
    env {
        root = "${projectDir}/env"
        preprocess_data = "preprocess_data.yaml"
        run_mrvi = "run_mrvi.yaml"
        compute_metrics = "compute_metrics.yaml"
    }
    aws {
        root = "s3://largedonor"
    }
    conf {
        root = "${projectDir}/conf"
        dataset = "${params.conf.root}/datasets"
    }
    subworkflow {
        root = "${projectDir}/subworkflows"
        preprocess_data = "${params.subworkflow.root}/preprocess_data/main.nf"
        run_mrvi = "${params.subworkflow.root}/run_mrvi/main.nf"
        compute_metrics = "${params.subworkflow.root}/compute_metrics/main.nf"
    }
    module {
        root = "${projectDir}/modules"
        preprocess_data = "${params.module.root}/preprocess_data.nf"
        fit_mrvi = "${params.module.root}/fit_mrvi.nf"
        get_latent_mrvi = "${params.module.root}/get_latent_mrvi.nf"
        compute_scib_metrics = "${params.module.root}/compute_scib_metrics.nf"
        compute_vendi = "${params.module.root}/compute_vendi.nf"
    }
    script {
        root = "${projectDir}/bin"
        preprocess_data = "${params.script.root}/preprocess_data.py"
        fit_mrvi = "${params.script.root}/fit_mrvi.py"
        get_latent_mrvi = "${params.script.root}/get_latent_mrvi.py"
        compute_scib_metrics = "${params.script.root}/compute_scib_metrics.py"
        compute_vendi = "${params.script.root}/compute_vendi.py"
    }
    input {
        preprocess_data = ["${params.aws.root}/symsim_new.h5ad", "${params.aws.root}/scvi_pbmcs.h5ad", "${params.aws.root}/nucleus.h5ad"]
        run_mrvi = "${params.output.preprocess_data}/*.h5ad"
        compute_metrics = "${params.output.run_mrvi_latent_data}/*.h5ad"
    }
    output {
        preprocess_data = "data/preprocessed"
        run_mrvi_model = "models/mrvi"
        run_mrvi_setup_data = "data/mrvi/setup"
        run_mrvi_latent_data = "data/mrvi/latent"
        compute_metrics_scib = "metrics/scib"
        compute_metrics_vendi = "metrics/vendi"
    }
    
}

process {
    withName: "preprocess_data" {
        conda = "${params.env.root}/${params.profile}/${params.env.preprocess_data}"
        publishDir = "${params.publish}"
    }
    withName: "fit_mrvi" {
        conda = "${params.env.root}/${params.profile}/${params.env.run_mrvi}"
        publishDir = "${params.publish}"
    }
    withName: "get_latent_mrvi" {
        conda = "${params.env.root}/${params.profile}/${params.env.run_mrvi}"
        publishDir = "${params.publish}"
    }
    withName: "compute_scib_metrics" {
        conda = "${params.env.root}/${params.profile}/${params.env.compute_metrics}"
        publishDir = "${params.publish}"
    }
    withName: "compute_vendi" {
        conda = "${params.env.root}/${params.profile}/${params.env.compute_metrics}"
        publishDir = "${params.publish}"
    }
}
