params {
    inputs = ["${projectDir}/data/sciplex_A549_simple_filtered_all_phases.h5ad", "${projectDir}/data/sciplex_K562_simple_filtered_all_phases.h5ad", "${projectDir}/data/sciplex_MCF7_simple_filtered_all_phases.h5ad"]
    gt_clusters = "${projectDir}/data/l1000_signatures/*_cluster_labels.csv"
    gt_deg_sim = "${projectDir}/data/l1000_signatures/*_deg_sim.csv"
    runAllModels = false
    runAllMRVIModels = false
    runMILO = false
    computeMetrics = false
}
